@page "/MyCabinet";

<h3>MyCabinet</h3>
@using IAuthorizationService = BuildersApp.Core.Services.Interfaces.IAuthorizationService
@using BuildersApp.Core.Services.Interfaces
@using BuildersApp.Core.Enums
@using BuildersApp.Core.Models.UserInfo
@inject IUserIdentityService UserIdentityService
@inject IAuthorizationService AuthorizationService;

<h3>My Cabinet</h3>
@if (UserIdentityService.CurrentUser is not null)
{
    var user = UserIdentityService.CurrentUser;
    SetPersonalInfo();
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Login: @user.Login <br> Email: @user.Email</h5>
        </div>
        <EditForm EditContext="@_editContext" OnValidSubmit="SaveChanges" class="card-body">
            @switch (user.Role)
            {
                case Roles.Customer:
                    <CustomerCabinet PersonalInfo="@_personalInfo"/>
                    break;
                case Roles.Designer:
                    <DesignerCabinet PersonalInfo="@_personalInfo"/>
                    break;
                case Roles.Developer:
                    <DeveloperCabinet PersonalInfo="@_personalInfo"/>
                    break;
            }
            <input type="submit" class="btn btn-primary btn-lg" value="Save"/>
        </EditForm>
        <div class="card-body">
            <NavLink @onclick="_ => AuthorizationService.LogoutAsync()" href="/AuthorizationPage">Logout</NavLink>
        </div>
    </div>
}

@code {
    private PersonalInfoBase _personalInfo;
    private EditContext _editContext;

    private void SetPersonalInfo()
    {
        _personalInfo = UserIdentityService.CurrentUser.PersonalInfo;
        _editContext = new EditContext(_personalInfo);
    }

    private async Task SaveChanges()
    {
        await UserIdentityService.UpdateUser(UserIdentityService.CurrentUser.Id, _personalInfo);
    }

}