@using BuildersApp.Core.Models.UserInfo
<EditForm Model="@_developer">
    <DataAnnotationsValidator/>

    <div class="form-outline flex-fill mb-2">
        <label class="form-label" for="form3Example1c">Name</label>
        <InputText @bind-Value="@_developer.Name" type="text" id="form3Example1c" class="form-control"/>
        <ValidationMessage For="() => _developer.Name"/>
    </div>
    <div class="form-outline flex-fill mb-2">
        <label class="form-label" for="form3Example1c">TIN</label>
        <InputText @bind-Value="@_developer.Tin" type="text" id="form3Example1c" class="form-control"/>
        <ValidationMessage For="() => _developer.Tin"/>
    </div>
    <div class="form-outline flex-fill mb-2">
        <label class="form-label" for="form3Example1c">OGRN</label>
        <InputText @bind-Value="@_developer.Ogrn" type="text" id="form3Example1c" class="form-control"/>
        <ValidationMessage For="() => _developer.Ogrn"/>
    </div>
    <div class="form-outline flex-fill mb-2">
        <label class="form-label" for="form3Example1c">KPP</label>
        <InputText @bind-Value="@_developer.Kpp" type="text" id="form3Example1c" class="form-control"/>
        <ValidationMessage For="() => _developer.Kpp"/>
    </div>
    <div class="form-outline flex-fill mb-2">
        <label class="form-label" for="form3Example1c">Address</label>
        <InputText @bind-Value="@_developer.Address" type="text" id="form3Example1c" class="form-control"/>
        <ValidationMessage For="() => _developer.Address"/>
    </div>
    <div class="form-outline flex-fill mb-2">
        <label class="form-label" for="form3Example1c">Executive director</label>
        <InputText @bind-Value="@_developer.ExecutiveDirector" type="text" id="form3Example1c" class="form-control"/>
        <ValidationMessage For="() => _developer.ExecutiveDirector"/>
    </div>

    <ValidationSummary/>
</EditForm>

@code {

    [Parameter]
    public PersonalInfoBase PersonalInfo { get; set; }

    private DeveloperPersonalInfo _developer;

    protected override void OnInitialized()
    {
        _developer = (DeveloperPersonalInfo)PersonalInfo;
    }

}