@using BuildersApp.Core.Services.Interfaces
@using BuildersApp.Core.Repositories
@using BuildersApp.Core.Models
@using BuildersApp.Core.Enums
@inject IFileService FileService;
@inject IJSRuntime JsRuntime;
@inject IProjectRepository ProjectRepository;

<div class="card" style="width: 18rem; margin: 5px;">
    <div class="card-body">
        <h5 class="card-title">@Document.Name</h5>
        <p class="card-text">@Document.DateCreated.ToString("D")</p>
        <p class="card-text">Sign date: @(Document.DateSigned == DateTime.MinValue ? "Not signed" : @Document.DateSigned.ToString("D"))</p>
        @if (UserRole == Roles.Customer)
        {
            <input type="checkbox" value="Is signed" @bind="_signed"/>
            <text>Is signed</text>
            <br/>
            <input type="checkbox" value="Is necessary" @bind="_necessary"/>
            <text>Is necessary</text>
            <br/>
            <button class="btn btn-primary" @onclick="SaveChanges">Save changes</button>
            <br/>
        }
        else
        {
            <input type="checkbox" disabled value="Is signed" @bind="_signed"/>
            <text>Is signed</text>
            <br/>
            <input type="checkbox" disabled value="Is necessary" @bind="_necessary"/>
            <text>Is necessary</text>
            <br/>
            <InputFile OnChange="@LoadFile" accept=".pdf"/>
        }
        @if (!_fileExists)
        {
            <a style="pointer-events: none" class="btn btn-danger" href="/documents/@($"{Document.Id}-{Document.Name}.pdf")" download="@($"{Document.Name}.pdf")">Download file</a>
        }
        else
        {
            <a class="btn btn-primary" href="/documents/@($"{Document.Id}-{Document.Name}.pdf")" download="@($"{Document.Name}.pdf")">Download file</a>
        }
    </div>
</div>

@code {

    [Parameter]
    public Document Document { get; set; }

    [Parameter]
    public Roles UserRole { get; set; }

    private string _downloadPath;
    private bool _fileExists;

    private bool _signed;
    private bool _necessary;

    protected override async Task OnInitializedAsync()
    {
        _signed = Document.IsSigned;
        _necessary = Document.IsNecessary;
        _downloadPath = await FileService.GetDocumentPath(Document);
        _fileExists = await FileService.FileExists(Document);
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            await using Stream stream = file.OpenReadStream(20000000);
            _downloadPath = await FileService.AddDocument(Document, stream);
            _fileExists = await FileService.FileExists(Document);
            StateHasChanged();
        }
    }

    private async Task SaveChanges()
    {
        Document.IsSigned = _signed;
        Document.IsNecessary = _necessary;
        await ProjectRepository.UpdateDocument(Document);
        Document = await ProjectRepository.GetDocument(Document.Id);
        StateHasChanged();
    }

}